<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/02/image1.svg" alt="Image" class="img-fluid" />
      </div>

      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <br />
              <br />
              <h1>Connectez-vous</h1>
            </div>
            <form action="#" method="post">
              <div class="form-group first">
                <label for="e-mail">Adresse e-mail</label>
                <input type="text" class="form-control" id="e-mail" />
              </div>
              <div class="form-group last mb-4">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" />
              </div>

              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"
                  ><span class="caption">Se souvenir du mot de passe</span
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
                <br />
                <span class="ml-auto"
                  ><a href="#" class="forgot-pass"
                    >Mot de passe oublié ?</a
                  ></span
                >
              </div>

              <input
                type="submit"
                value="Connecter"
                class="btn btn-block btn-secondary"
              />

              <span class="d-block text-left my-4 text-muted">
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  Vous n’avez pas de compte ? &nbsp;
                  <a href="choosePers" class="link" style="color: slateblue"
                    >S'inscrire</a
                  >
                </p></span
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
