<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>S'inscrire</h2>
      <p>
        Veuillez vous connecter en utilisant les identifiants d'un parent, d'un
        élève ou d'un enseignant, selon votre statut, s'il vous plaît.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <img src="../../assets/image/enseignant.jpg" alt="enseignant" />
          <h3>Enseignant</h3>
          <h4>
            Chers enseignants, vous êtes invités à enrichir cette plateforme
            avec vos cours et quiz, offrant ainsi une expérience d'apprentissage
            unique et captivante pour vos étudiants.
          </h4>

          <a href="/signup-enseignant" class="buy-btn">S'inscrire</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box featured">
          <img src="../../assets/image/symbole-famille.jpg" alt="parent" />
          <h3>Parent</h3>
          <h4>
            Chers parents, découvrez une nouvelle dimension de suivi scolaire en
            accédant à cette plateforme où vous pourrez suivre le parcours
            éducatif de votre enfant et rester informé des progrès réalisés, des
            cours et des quiz disponibles.
          </h4>

          <a href="#" class="buy-btn">S'inscrire</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="box">
          <img src="../../assets/image/enfant.jpg" alt="eleve" />
          <h3>Élève</h3>
          <h4>
            Chers élèves, plongez dans une expérience d'apprentissage
            interactive en explorant cette plateforme où vous trouverez vos
            cours et quiz, spécialement conçus pour répondre à vos besoins
            éducatifs, tout en vous offrant un environnement stimulant et
            engageant.
          </h4>

          <a href="#" class="buy-btn">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->
