<section class="page-title-section bg-img cover-background bg-yellow" data-overlay-dark="0"  style="background-color: rgb(126, 192, 204); background-image: url(../../assets/img/bg/bg1.jpg);">
    <div class="container">
        <div class="page-title">
            <h1 style="color: #18b8ff;">Grille de cours </h1>
            <div class="page-link">
                <ul>
                    <li style="color: black;"><a href="index.html">Home</a></li>
                    <li style="color: black;"><a >Grille de cours</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="section-heading">
            <h3 style="color: #232323;">Nos cours</h3>
            <span class="title-separator"></span>
        </div>

        <div class="row no-gutters">

            <div class="col-md-6 col-lg-4 margin-25px-bottom xs-margin-15px-bottom">
                <div class="courses-block">
                    <div class="courses-pic">
                        <a href="/course-details">
                            <img src="../../assets/img/hcj.jpg" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">Html/Css/js</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>2-4 years
                            </li>
                            <li>
                                <strong>Time: </strong>09:00-11:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 margin-25px-bottom xs-margin-15px-bottom">
                <div class="courses-block yellow">
                    <div class="courses-pic">
                        <a href="course-details.html">
                            <img src="../../assets/img/kids.png" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">Python</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>3-4 years
                            </li>
                            <li>
                                <strong>Time: </strong>10:00-11:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 margin-25px-bottom xs-margin-15px-bottom">
                <div class="courses-block pink">
                    <div class="courses-pic">
                        <a href="course-details.html">
                            <img src="../../assets/img/poto.webp" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">Photoshop</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>3-5 years
                            </li>
                            <li>
                                <strong>Time: </strong>11:00-01:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 sm-margin-25px-bottom xs-margin-15px-bottom">
                <div class="courses-block green">
                    <div class="courses-pic">
                        <a href="course-details.html">
                            <img src="../../assets/img/ux.webp" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">UI/UX Design</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>3-5 years
                            </li>
                            <li>
                                <strong>Time: </strong>05:00-07:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 xs-margin-15px-bottom">
                <div class="courses-block orange">
                    <div class="courses-pic">
                        <a href="course-details.html">
                            <img src="../../assets/img/mv.png" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">Montage Vidéos</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>3-5 years
                            </li>
                            <li>
                                <strong>Time: </strong>09:00-10:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="courses-block purple">
                    <div class="courses-pic">
                        <a href="course-details.html">
                            <img src="../../assets/img/ai-for-kids.jpeg" alt="" />
                        </a>
                    </div>
                    <div class="course-desc">
                        <h4><a href="course-details.html">Intelligence Artificielle</a></h4>
                        <p>Les cours sont tellement captivants que les enfants les adorent à chaque fois.</p>
                    </div>
                    <div class="course-details">
                        <ul>
                            <li>
                                <strong>Age: </strong>3-5 years
                            </li>
                            <li>
                                <strong>Time: </strong>09:00-10:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<footer id="footer" >
    <div class="footer-top">
      <div class="container">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="../../assets/02/Tutturu.png">
            
            <p>
              Nabeul, Tunisie<br />
  
              <strong>Téléphone:</strong>+216 22222222<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>liens utiles</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/login">Connecter</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/choosePers">Inscription</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Services</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Cours interactifs captivants</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Quizzes éducatifs stimulants</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Communauté d'apprentissage dynamique</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Suivi personnalisé et récompenses</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container footer-bottom clearfix"  >
      <div class="copyright">
        © Copyright <strong><span >2023</span></strong>
      </div>
    </div>
  </footer>