<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"
      ><img src="../../assets/02/Tutturu.png" alt="" class="img-fluid"
    /></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
        <li><a class="nav-link scrollto" href="#about">À propos</a></li>

        <li class="dropdown">
          <a href="#"><span>Cours</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Dévelopment web</a></li>
            <li><a href="#">Conception web</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">Conception Graphique</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li>
          <a class="getstarted scrollto" href="/Profile" router-link="/Profile"
            >Profile</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>
          Offrez à vos enfants une expérience éducative amusante et
          enrichissante
        </h1>
        <h2>Une plateforme d'apprentissage captivante pour les enfants.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/login" class="btn-get-started scrollto">Commencer</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="../../assets/02/Elearning100720010-Converted0.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row aos-init aos-animate" data-aos="zoom-in">
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/garcon-naviguant-reseaux-sociaux_1308-118731.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/enfants-prenant-cours-ligne_23-2148499070.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/vecteur-enfants-etudiant-graphique-plat-classe-ligne_53876-105789.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/concept-apprentissage-education-amour-lecture-personnes-lisant-etudiants-etudiant-se-preparant-examen-dans-bibliotheque-amoureux-livres-lecteurs-litterature-moderne-illustration-vectoriell.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/concept-apprentissage-ligne-personnage-dessin-anime_29937-6236.avif"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="../../assets/petit-etudiant-fait-cours-apprentissage-ligne-ecole-maison-ordinateur-portable-illustration-internet_10045-661.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2>pourquoi nous !!!</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <br />
          <br />
          <br />
          <h2>Nous sommes là pour vous aider.</h2>
          <br />
          <p style="font-size: 15px">
            Nous sommes passionnés par l'éducation des enfants et leur
            développement. Chaque membre de notre équipe est dévoué à fournir
            une expérience d'apprentissage enrichissante et engageante pour les
            jeunes apprenants.
          </p>
          <p>
            Nos enseignants sont des experts dans leur domaine, et ils sont là
            pour guider, inspirer et soutenir chaque enfant dans son parcours
            d'apprentissage. Avec leur expertise et leur dévouement, ils aident
            les enfants à développer leur plein potentiel et à atteindre leurs
            objectifs éducatifs.
          </p>

          <p>
            Nous croyons en une approche personnalisée de l'éducation, où chaque
            enfant est encouragé à suivre son propre chemin d'apprentissage et à
            développer ses talents uniques. Notre équipe est là pour accompagner
            chaque enfant dans cette aventure, en fournissant un soutien
            individualisé et des ressources adaptées à leurs besoins
            spécifiques.
          </p>

          <p>
            Ensemble, nous travaillons pour créer un environnement
            d'apprentissage positif, inclusif et stimulant, où les enfants
            peuvent s'épanouir, grandir et réussir.
          </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <img
            src="../../assets/02/ava2.png"
            alt="Image exemple"
            class="image-interactif"
            style="
              max-width: 100%;
              height: auto;
              animation: up-down 1s ease-in-out infinite alternate-reverse both;
            "
          />
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2>Nos Services</h2>
      </div>

      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch aos-init"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/image/1.png" />
            </div>
            <h4><a href="">Cours interactifs captivants</a></h4>
            <p>
              Plongez dans le monde passionnant du développement web et du
              design avec une variété de cours interactifs conçus spécifiquement
              pour les enfants. Nos cours sont conçus pour encourager
              l'exploration et l'apprentissage créatif dans un environnement
              amusant et engageant.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/image/2.png" />
            </div>
            <h4><a href="">Quizzes éducatifs stimulants</a></h4>
            <p>
              Testez vos connaissances avec une variété de quizzes amusants et
              instructifs. Ces quizzes couvrent différents sujets et niveaux,
              offrant une expérience d'apprentissage dynamique où les enfants
              peuvent relever des défis, suivre leur progression et apprendre de
              manière ludique.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 aos-init"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/image/3.png" />
            </div>
            <h4><a href="">Communauté d'apprentissage dynamique </a></h4>
            <p>
              Créez une communauté d'apprentissage dynamique où les enfants
              peuvent interagir entre eux, poser des questions, partager leurs
              réalisations et collaborer sur des projets, favorisant ainsi un
              environnement d'apprentissage collaboratif et engageant.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 aos-init"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/image/retouch_2467531.png" />
            </div>
            <h4><a href="">Suivi personnalisé et récompenses </a></h4>
            <p>
              Assurez un suivi personnalisé de la progression de chaque enfant
              avec des outils de suivi intuitifs et gratifiants, comme des
              récompenses virtuelles pour les réalisations et des encouragements
              personnalisés pour stimuler leur motivation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2>Nos Cours</h2>
        <p>
          Explorez le monde de la créativité avec nos cours spécialisés en
          développement web, conception web, Photoshop et conception graphique.
          Apprenez à créer des sites web dynamiques, perfectionnez vos
          compétences en design web, maîtrisez Photoshop pour des retouches
          d'images impeccables et découvrez les principes essentiels de la
          conception graphique. Rejoignez-nous pour libérer votre potentiel
          créatif et donner vie à vos idées sur l'écran.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 aos-init" data-aos="zoom-in" data-aos-delay="100">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="../../assets/img/team/illustration-concept-abstrait-competences-informatiques-avancees_335657-3877.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>HTML/CSS/JS</h4>
              <span>6 Mois</span>
              <span>200dt/Mois</span>
              <p>
                Découvrez la construction web avec notre cours HTML/CSS/JS.
                Apprenez à créer des sites dynamiques avec facilité.
              </p>
            </div>
            <a href="#"> <i class="ri-arrow-right-circle-fill"></i></a>
          </div>
        </div>

        <div
          class="col-lg-6 mt-4 mt-lg-0 aos-init"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="../../assets/img/team/Retrieving-current-directory-in-Python-folder-path-directory-tree-code-logo.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>PYTHON</h4>
              <span>4 Mois</span>
              <span>200dt/Mois</span>
              <p>
                Libérez votre créativité avec notre cours Python interactif.
                Transformez vos idées en projets concrets dès aujourd'hui.
              </p>
            </div>
            <a href="#"> <i class="ri-arrow-right-circle-fill"></i></a>
          </div>
        </div>

        <div
          class="col-lg-6 mt-4 aos-init"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="../../assets/img/team/concept-apprentissage-isometrique-ligne-etudiant_52683-33749.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>UI UX design</h4>
              <span>3 Mois</span>
              <span>200dt/Mois</span>
              <p>
                Explorez le design UX/UI avec nous : la clé pour des expériences
                numériques inoubliables. Rejoignez-nous pour façonner l'avenir
                du design.
              </p>
            </div>
            <a href="#"> <i class="ri-arrow-right-circle-fill"></i></a>
          </div>
        </div>

        <div
          class="col-lg-6 mt-4 aos-init"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="../../assets/img/team/images.jpeg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>Photoshop</h4>
              <span>2 Mois</span>
              <span>100dt/Mois</span>
              <p>
                Maîtrisez Photoshop pour libérer votre créativité.
                Rejoignez-nous pour explorer la conception graphique et donner
                vie à vos idées.
              </p>
            </div>
            <a href="#"> <i class="ri-arrow-right-circle-fill"></i></a>
          </div>
        </div>
      </div>
      <br /><br />
      <a href="#">
        <p style="margin-left: 70%">
          Plus des cours
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-double-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"
            />
            <path
              fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"
            />
          </svg>
        </p>
      </a>
    </div>
  </section>

  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          Contactez-nous pour toute question ou collaboration. Nous sommes là
          pour vous aider. Remplissez le formulaire ci-dessous et nous vous
          répondrons rapidement.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nom</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required=""
                />
              </div>
              <div class="form-group col-md-6">
                <label for="name">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required=""
                />
              </div>
            </div>
            <div class="form-group">
              <label for="name">Sujet</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required=""
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">...</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Votre message a bien été envoyé. Merci !
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Envoyer</button>
            </div>
          </form>
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Adresse:</h4>
              <p>Nabeul,Tunisie</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Télephone:</h4>
              <p>+216 22222222</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>E-kids</h3>
          <p>
            Nabeul, Tunisie<br />

            <strong>Téléphone:</strong>+216 22222222<br />
            <strong>Email:</strong> info@example.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>liens utiles</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="/login">Connecter</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/choosePers">Inscription</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Cours interactifs captivants</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Quizzes éducatifs stimulants</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Communauté d'apprentissage dynamique</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Suivi personnalisé et récompenses</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      © Copyright <strong><span>2023</span></strong>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
>
  <i class="bi bi-arrow-up-short"></i>
</a>
